@mixin transition($property , $time) {
    -webkit-transition : $property $time;
    -moz-transition : $property $time;
    -o-transition : $property $time;
    -ms-transition : $property $time;
    transition : $property $time;
}