@import "fonts";
@import "Variables";
@import "global-setting";
@import "functions";

@media (max-width: 768px) {
    // Navbar for mobiles
    .nav {
        background-color: rgba(0, 0, 0, 0.795) !important;
        .container {
            padding: 0 2rem;
        }

        &-item {
            padding: 0.5rem 0;
            text-align: center;
            padding-bottom: 1rem;
        }

        &-link {
            display: inline-block;
        }
    }

    // Section 1 for mobiles and tablet
    .section-1 {
        padding: 0 0 !important;
        display: grid;
        grid-template-columns: 1fr !important;
    }

    //footer for mobile
    
}
